.Booking{
    /* background-color: rgb(140, 255, 0); */
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    /* height: 100px; */
}


.Bcontainer{
width: 90vw;

}
.Booking .Bcontainer .SearchPart{
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

/* SEARC BUTTON */

.btn {
	position: relative;
	top: 0;
	left: 0;
	width: 250px;
	height: 50px;
	margin-top:0 ;
	display: flex;
	justify-content: center;
	align-items: center;
    
    
}

.btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #33A2A9;
	font-weight: 600px;
    font-size: 25px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}

.btn:hover a {
	letter-spacing: 3px;
    color: #2c585b;
    border: 1.5px solid #33A2A9;
}


/* .SearchLabel{
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(3, 89, 89);
    color: white;
    padding: 10px 25px;
    height: 56px;
    margin-right: -0.47rem;
} */

/*SEARCH MAIN*/

.Booking .Bcontainer .MainSearchIn{
    width: 80%;
    height: 45px;
    margin-left: 0.5rem;
    border-radius: 14px;
    /* border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px; */
    border:  0.5px solid rgb(3, 89, 89) ;
    padding: 15px 30px;
    background-color: #fff;
    font-weight: 600;
    color: black;
}
.Booking .Bcontainer .MainSearchIn:focus{
   outline-color:rgb(3, 89, 89) ;

}

/* .Booking .Bcontainer .MainSearchIn{
    width: 60%;
    margin-left: 0.5rem;
    
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border:  0.5px solid rgb(3, 89, 89) ;
    
padding: 15px 30px;
}
.Booking .Bcontainer .MainSearchIn:focus{
   outline-color:rgb(3, 89, 89) ;

} */

.Bcontainer .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    /* padding-top: 2rem; */
    position: relative;
}
.Bcontainer .card{
    width: 300px;
    margin-bottom: 1rem;
    height: 500px;
    border: 2px solid rgba(128, 128, 128, 0.507);
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    /* flex-grow: 1; 
    flex-basis: 200; */
 /*   transition: padding-top 0.9s ease;  Smooth transition for background color */
    /* opacity: 0.7; */
    padding-top: 3rem;
}
.Bcontainer .card img{
    margin-top: -47.5px ;
    width: 100%;
    height: 450px;
    border-radius: 30px;
   
}


.Bcontainer .card p{
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    

    
}
.Bcontainer .MainCardDesc{
    font-size: 25px;
    transition: display 2s ease;
    margin: 0 auto;
    margin-top: -10px;
}
.Bcontainer .MainCardDesc p{
    font-size: 14px;
    width: 85%;
    /* display: none; */
}

.Bcontainer  .MainCardIcons{
    display: flex;
    gap: 0.7rem;
    align-self: center;
    /* display: none; */
    margin: 0 auto;
    padding-left: 1rem;
    margin-bottom: 1rem;
    
}
.Bcontainer  .MainCardIcons .icon{
    transition: display 2.5s ease;
}

.Bcontainer .MainCardLink{
    color: rgb(3, 89, 89);
    font-size: 20px;
    margin-bottom: 1rem;
    display: none;
}

.Explore{
    width: 50%;
    margin: auto;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #207278;
    border: 2px solid;
    font-size: 22px;
    font-weight: 500;
    
}
.Explore:hover{
    letter-spacing: 3px;
    transition: 0.5s;
    color: black;
    background-color: #fff;
    border: 2px solid #2c585b;
    font-weight: 500;
}




/*
.backCard {
    width: 100%;
    height: 100%;
    opacity: 0; 
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 1s ease; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 20px;
  } */
  
  /* .card:hover .backCard {
      opacity: 1;
    } */


   
  .card:hover .MainCardIcons {
    /* display: block; */
    display: flex;
    gap: 0.7rem;
    align-self: center;
   
    
  }
  .card:hover .icon {
    /* display: block; */
    display: flex;
    transition-delay: 5s; /* Delay effect for 1 second */    
  }
 .card:hover .MainCardDesc{
    display: block;
 }
 .card:hover .MainCardLink {
 display: block;  
  }
  

@media (max-width: 768px) {

    .Bcontainer h1{
        text-align: center !important;
        font-size: 45px;
    }
    .Bcontainer .card{
        width: 100%;
        margin-bottom: 2rem;
        height: 370px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
        /* flex-grow: 1; */
        /* flex-basis: 200; */
        opacity: 1;
        padding-top: 1rem;
    }

    .Bcontainer h1 {
        text-align: center !important;
        font-size: 28px;
        /* flex-wrap: wrap; */
    }
    .Booking .Bcontainer .SearchPart{
        /* background-color: blueviolet; */
        width: 80vw;
        margin: 0 auto;
        }
        .Booking .Bcontainer .SearchPart label{
            display: none;
        }
        .Booking .Bcontainer .MainSearchIn{
            width: 90%;
            margin-left: 0.5rem;
        border-radius: 10px;
            border:  0.5px solid rgb(3, 89, 89) ;
            margin-bottom: 2rem;
        padding: 5px 20px;
        }
        
        .Booking .Bcontainer .MainSearchIn::placeholder{
        text-align: center;
    }
    .Bcontainer .MainCardLink{

        display: block;
    }
    
}